<app-home-nav></app-home-nav>
<div class="about-section">
    <h1>About Us</h1>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/Sanraj.jpeg" alt="" style="width:40%">
        <div class="container">
          <h2>Sanraj Banokar</h2>
          <p class="title">Graduate Engineer Trainee</p>
          <p>Larsen & Toubro Infotech: LTI</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
          <img src="/assets/Vinay.jpeg" alt="" style="width:40%">
          <div class="container">
            <h2>Vinay Bojja</h2>
            <p class="title">Graduate Engineer Trainee</p>
            <p>Larsen & Toubro Infotech: LTI</p>
            
          </div>
        </div>
      </div>

    <div class="column">
      <div class="card">
        <img src="/assets/Komal.jpeg" alt="" style="width:40%">
        <div class="container">
          <h2>Komal Kushwaha</h2>
          <p class="title">Graduate Engineer Trainee</p>
          <p>Larsen & Toubro Infotech: LTI</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/Mounika.jpeg" alt="" style="width:40%">
        <div class="container">
          <h2>Mounika Koduri</h2>
          <p class="title">Graduate Engineer Trainee</p>
          <p>Larsen & Toubro Infotech: LTI</p>
          
        </div>
      </div>
    </div>
  </div>
