<ul class="nav nav-tabs justify-content-end" >
    
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/dashBoard">DashBoard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/flightSearch" >Search Flights</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/displayBookings" >My Bookings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/" >LogOut</a>
    </li>
</ul> 
<router-outlet></router-outlet>


  
