<app-user-nav></app-user-nav>
<div class="card text-center">
    <div class="card-header">
      Your Booking has been Successfully Cancelled
    </div>
    <div class="card-body">
      <h5 class="card-title">Your Refund Amount for Cancelling is: ₹ {{refund}}</h5>
      <p class="card-text">Thank you for your business..</p>
      <a class="btn btn-primary" routerLink="/dashBoard" >Back to Dashboard</a>
    </div>
    <div class="card-footer text-muted">
      LTI
    </div>
  </div>
