<ul class="nav nav-tabs justify-content-end" >
    
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/adminDashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/addFlight" >Add Flight</a>
  </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/displayAllFlight" >Display Flights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/" >LogOut</a>
  </li>
</ul> 
<router-outlet></router-outlet>
