<ul class="nav nav-tabs justify-content-end" >
    
    <li class="nav-item">
      <a class="nav-link"  routerLink="/">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Login
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/userLogin">User Login</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="/adminLogin">Admin Login</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link"  routerLink="/userRegistration">Register Now!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  routerLink="/aboutUs">About Us</a>
    </li>
</ul> 
<router-outlet></router-outlet>